.header {
  display: flex;
  margin-top: 45px;
  max-width: 880px;
  width: 173px;
  min-height: 33px;
  align-items: center;
  padding-top: 45px;
  border-bottom: solid 1px;
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and(max-width: 320px) {
  .header__logo {
    width: 126px;
    height: 24px;
    flex-shrink: 0;
  }
}
