.header {
  display: flex;

  max-width: 880px;
  width: 173px;
  min-height: 33px;
  align-items: center;
  padding-top: 45px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 925px) {
  .header {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;

    flex-shrink: 0;
  }
}
